<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="robots" content="noindex">
	<meta name="description" content="AI議事録作成ツール「Memory Cloud」">
	<meta name="author" content="Ryohei">
	<meta name="keywords" content="memorycloud,transcript,webapp,summarize">

	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link rel="shortcut icon" href="" />
	<link rel="canonical" href="" />

	<title>メモリークラウド</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;800&display=swap" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.9.1/tagify.min.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.9.1/tagify.min.js"></script>
	<script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>

	<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='style2.css') }}" rel="stylesheet">
</head>