{% extends "layout.html" %}

{% block content %}

<div class="container-fluid p-0">
	<div class="content" id="privacy">
		<h1>プライバシーポリシー</h1>

		<p>ゲンダイエージェンシー株式会社（以下「当社」といいます）は、当社が運営するサービス「MEMORY CLOUD」（以下「本サービス」といいます）における、利用者についての個人情報の取り扱いについて、以下のとおりプライバシーポリシー（以下「本ポリシー」といいます）を定めます。</p>

		<h2>1. 利用者情報の定義等</h2>
		<p>本ポリシーにおいて、「利用者情報」とは、利用者の識別にかかる情報、その他本サービスにおいて利用者に関連して生成または蓄積された情報であって、本ポリシーに基づき当社が収集するものを意味するものとします。</p>

		<h2>2. 利用者情報の利用目的</h2>
		<p>当社では、取得、収集した利用者情報を、以下に定めるとおり本サービスにおけるサービス提供のために必要な範囲で利用することができます。</p>
		<div class="highlight">
			<ul>
				<li>本サービスの提供、維持、保護および改善のため</li>
				<li>本サービスに関するご案内、お問い合せ等への対応のため</li>
				<li>本サービスに関する規約（以下「規約」といいます。）に違反もしくは違反するおそれのある行為に対する対応のため</li>
				<li>本サービスを適切に利用していただくため</li>
				<li>本サービスの拡充、利便性の向上等を実現するため</li>
				<li>本サービスまたはこれに関連する企画、立案または実施のため</li>
				<li>統計データの収集、分析のため</li>
				<li>上記の利用目的に付随する利用目的のため</li>
			</ul>
		</div>

		<h2>3. 個人情報の提供</h2>
		<p>当社は、利用者情報のうち、個人情報については、個人情報保護法その他の法令に基づき開示が認められる場合を除くほか、あらかじめ利用者本人の同意を得ないで、第三者に提供しません。ただし、次に掲げる場合はこの限りではありません。</p>
		<ul>
			<li>本サービスの提供のために米国のOpenAI, Incを中心としたOpenAIグループまたはGoogle合同会社に情報提供を行う場合</li>
			<li>裁判所、検察庁、警察、税務署、弁護士会またはこれらに準じた権限を持つ機関から、個人情報の開示を求められた場合</li>
			<li>当社が行う業務の全部または一部を第三者に委託する場合</li>
			<li>当社に対して秘密保持義務を負う者に対して開示する場合</li>
			<li>当社の権利行使に必要な場合</li>
			<li>合併、営業譲渡その他の事由による事業の承継の際に、事業を承継する者に対して開示する場合</li>
			<li>個人情報保護法その他の法令により認められた場合</li>
			<li>その他本サービスの提供のために不可欠な場合</li>
		</ul>

		<h2>4. 個人情報の委託</h2>
		<p>当社は本サービスに関するシステムの運営業務を外部に委託しており、当該業務委託先に対して2.に定める利用目的を達成するために必要な範囲で個人情報を開示することがあります。この場合、個人情報を適切に取り扱っていると認められる委託先を選定し、契約等において個人情報の適正管理・機密保持などにより利用者の個人情報の漏洩防止に必要な事項を取決め、適切な管理を実施させます。</p>

		<h2>5. 個人情報を提供されることの任意性</h2>
		<p>利用者が当社に個人情報を提供されるかどうかは、利用者の任意によるものです。ただし、必要な情報をご提供いただけない場合、本サービスを提供できない場合があります。</p>

		<h2>6. 本ポリシーの更新</h2>
		<p>当社は、本ポリシーを変更する場合があります。本ポリシーに変更がある場合には、本ページの更新をもって利用者に通知するものとします。本ページを都度ご確認の上、本ポリシーをご理解いただくようお願いします。</p>

		<h2>7. 個人情報の開示等</h2>
		<p>本サービスでご提供いただいた、当社で保有する個人情報に関して、利用者ご本人または代理人の方は、開示、訂正または削除等を請求することができます。開示、訂正または削除等をご希望の際には、当社所定の方法、方式に従っていただく必要がございますので、下記お問い合わせ窓口宛にお問い合せ願います。なお、利用者の請求に基づき当社が利用者の個人情報を削除した場合、当該利用者に対し本サービスを提供できなくなる場合があります。</p>

		<h2>8. 個人情報を保護するための体制について</h2>
		<p>当社では、個人情報保護管理責任者が個人情報の取扱いに関する方針を決定し、運用状況を確認しています。更に、個人情報を管理する責任部門に部門管理者を配置し、その者が個人情報の適切な管理を指導しています。</p>

		<h2>9. お問い合わせ窓口</h2>
		<p>本サービスに関するご意見、ご質問、苦情のお申出その他利用者情報の取扱いに関するお問い合わせは、下記までお願いいたします。</p>
		<div class="highlight">
			<p>〒163-1429 東京都新宿区西新宿3-20-2 東京オペラシティビル29F</p>
			<p>E-mail: dxteam@ml.gendai-a.co.jp</p>
		</div>
	</div>
</div>

{%- endblock %}