{% extends "layout.html" %}

{% block content %}

<div class="container-fluid p-0">
	<div class="content" id="privacy">
		<h1>メモリークラウド利用規約</h1>

		<h2>第1条（本規約の目的、適用、関連規約）</h2>
		<ol>
			<li>ゲンダイエージェンシー株式会社（以下「当社」といいます。）は、メモリークラウド利用規約（以下「本規約」といいます。）を定め、本規約に従ってメモリークラウドの各種サービス（以下「本サービス」といいます。）を提供します。</li>
			<li>本規約は、本サービスを利用する者（以下「利用者」といいます）が本サービスを利用する際に適用される条件を定めます。利用者は、本規約に同意のうえで本サービスを利用するものとします。</li>
			<li>本規約以外の本サービスに関するヘルプ、ガイドページも本規約の一部を構成するものとし、利用者はこれに同意するものとします。</li>
			<li>当社が、本規約とは別に本サービスに付帯する個別の定め（以下「個別条件」といいます）を定める場合は、個別条件が優先して適用されるものとします。</li>
		</ol>

		<h2>第2条（本規約の変更等）</h2>
		<ol>
			<li>当社は、本契約による取引継続中においても、次のいずれかに該当する場合、本規約の条項を将来に向かって変更することができるものとします。</li>
				<div class="highlight">
					<ul>
						<li>（1）変更が、利用者の一般の利益に適合する場合</li>
						<li>（2）変更が、本サービスの利用目的に反せず、かつ、合理的である場合</li>
					</ul>
				</div>
			<li>前項により本規約の条項を変更する場合、当社は、当該変更の効力が発生する日までに、本サービスの提供サイト上に、変更の効力が発生する日、変更後の本規約の内容を掲載し、当該変更を周知するものとします。</li>
		</ol>

		<h2>第3条（本サービスの内容）</h2>
		<ol>
			<li>本サービスは、利用者に対して、音声ファイルまたは動画ファイルの音声の文字起こしおよびその内容の要約を行うシステムを提供するものです。</li>
			<li>当社は、前項の文字起こしおよび要約について、その正確性について保証をするものではありません。利用者は自らの責をもって文字起こしおよび要約の内容を確認の上で利用するものとし、当社は利用者による文字起こしおよび要約の利用により生じた利用者または第三者の損害に対して免責されます。</li>
			<li>当社は、本サービスの提供のため、米国のOpenAI, Incを中心としたOpenAIグループ（以下「OpenAI」といいます。）が提供するシステムを利用しており、当該システムまたはその利用規約等の変更により、本サービスの内容等が変更となることがあります。この場合、当社は可能な限り事前に利用者に通知いたします。</li>
			<li>本サービスは、利用者がGoogle合同会社（以下「Google社」といいます。）に申し込む（個人での申し込みまたは利用者の所属する組織での申込みを問いません。）ことで取得できるGoogle社のアカウント（以下「利用者Googleアカウント」といいます。）および利用者Googleアカウントに付随して提供されるサービスに紐付き、連携して提供されるものであり、利用者Googleアカウントの利用規約またはGoogle社の各種規約等の変更により、本サービスの内容等が変更となることがあります。この場合、当社は可能な限り事前に利用者に通知いたします。</li>
		</ol>

		<h2>第3条（利用のための設備）</h2>
		<ol>
			<li>利用者は、本サービス利用のために必要な機器、ソフトウェア等ならびに音声または動画ファイルを自らの責任と費用で用意していただく必要があります。</li>
			<li>利用者が本サービスを利用する際に発生する通信費は利用者の負担とします。</li>
			<li>当社は、利用者が本サービスにアクセスするための準備、設定、操作方法などについては一切責を負わず関与いたしません。</li>
		</ol>

		<h2>第4条（利用者Googleアカウント）</h2>
		<ol>
			<li>利用者は、利用者Googleアカウントならびに本サービス利用のために必要な利用者Googleアカウントのディスク容量等の環境を自らの責任と負担で用意していただく必要があります。</li>
			<li>当社は、利用者による本サービスの利用が、利用者Googleアカウントに関する利用者とGoogle社との契約および利用者の所属組織における規定等に抵触しないことを約束するものではありません。</li>
			<li>本サービスは、利用者が本サービス利用のためにアップロードした音声または動画ファイル（以下「利用者提供ファイル」といいます。）を、利用者のGoogleアカウントに紐付けられたGoogleドライブに保存します。</li>
			<li>本サービスの利用に際して、利用者は利用者GoogleアカウントのGoogleドライブについて、Google Drive APIを通じて全ての権限（読み取り・書き込み・スクリプトの実行）を本サービスに許可しなくてはなりません。</li>
			<li>当社は、利用者Googleアカウントのログイン情報を取得・保存することはありません</li>
			<li>当社は、本サービスの利用に必要な範囲を超えて利用者Googleアカウント、Googleドライブに関する利用情報および保存データにアクセスいたしません。</li>
			<li>当社は、利用者GoogleアカウントおよびGoogleドライブ以外のGoogle社のサービスに関する利用情報、保存データにアクセスいたしません。</li>
		</ol>

		<h2>第5条（利用契約）</h2>
		<ol>
			<li>利用者は、本サービスの利用に先立ち、本規約に同意の上、当社所定の方法により利用者登録申請を行わなければなりません。</li>
			<li>当社は、前項の利用者登録申請により入力された利用者の情報について必要な確認を行い、確認の結果、当社が当該利用者の申込みを承諾した場合に限り、利用者に対して電子契約サービスを通じて正式な利用申込書を発行するものとし、利用者が、当該利用申込書の内容を確認し承諾したときをもって、当社と利用者との間で本サービスの利用契約が成立したものとします。</li>
			<li>当社は、利用契約を締結した利用者に対し、本サービス利用のために必要な諸情報を提供するものとし、利用者はこれを善良な管理者の注意義務をもって保管・利用します。</li>
			<li>利用者は、本利用契約上の地位、本規約に基づく権利もしくは義務ならびに本サービスの提供を受ける権利について、譲渡、貸与、名義変更、または担保提供、その他第三者の用に供することはできません。</li>
			<li>利用者は、第１項に規定する利用者登録申請に際し、利用者Googleアカウントおよび自らが連絡手段として通常利用するメールアドレス（以下「連絡用メールアドレス」といい、利用者Googleアカウントと同一であることを妨げません。）の提供をすることが必要です。</li>
			<li>当社は、前項により提供された利用者Googleアカウントに対して本サービス利用のための権限を付与し、当該利用者Googleアカウントによる本サービスの利用は、実際に本人が利用したか否かにかかわらず、全て利用者が本サービスを利用したものとみなします。利用者は、利用者Googleアカウントを厳重に管理するものとし、本サービスを第三者に利用させてはなりません。</li>
			<li>第三者による利用者Googleアカウントの使用により、利用者に損害が生じた場合、利用者の過失の有無にかかわらず、当社は、一切責任を負いません。</li>
			<li>利用者は、常に連絡の取れる連絡先を登録し、当社からの問い合わせがあった場合、速やかにこれに対応するものとします。</li>
		</ol>

		<h2>第6条（会員情報の変更）</h2>
		<ol>
			<li>利用者は、連絡用メールアドレス、住所または電話番号等当社に届け出ている内容に変更が生じた場合、速やかに当社に届出をするものとします。</li>
			<li>前項の変更事項の届出を怠ることで、利用者に何らかの不利益が生じた場合であっても、当社は、一切責任を負いません。</li>
		</ol>

		<h2>第7条（契約期間）</h2>
		<ol>
			<li>利用契約の契約期間は１年間とします。ただし、契約満了日の１ヶ月前までに当社または利用者もしくはその双方から契約を終了する旨の書面または電子メールによる通知がなかった場合、同条件で１年間更新するものとし、以後も同様とします。</li>
		</ol>

		<h2>第8条（料金）</h2>
		<ol>
			<li>本サービスの利用料（以下「本サービス利用料」といいます。）およびその支払いに関する事項は第5条第2項に規定する利用申込書に記載のとおりとします。</li>
			<li>利用者の責により利用契約が途中で解約となった場合、事由を問わず当社は受領済みの本サービス利用料を返金せず、また利用者は未払いの当社に対する債務を弁済しなくてはなりません。</li>
		</ol>

		<h2>第12条（情報の利用）</h2>
		<ol>
			<li>当社は、本サービスを通じて得た情報、利用者が提供あるいは入力した情報を、本サービスの提供またはサービス内容工場のための情報の分析、評価等のために利用することができるものとします。</li>
			<li>本規定の公開時点において、本サービスが用いるOpenAIの機能では、利用者提供ファイルに基づく情報は、本サービス提供のためにのみ利用され、OpenAIの提供するシステムの改善等のためには利用されません。ただし、今後OpenAIの利用規約等の変更により当該情報がOpenAIのシステム改善等のため利用される可能性があります。この場合、当社は可能な限り事前に当社が知りうる範囲での情報を利用者に提供いたします。</li>
			<li>利用者のGoogleドライブに保管された利用者提供ファイルについて、その保管またはGoogle社による利用についてはGoogle社の規約に従うものとし、当社は責任を負いません。</li>
			<li>本サービスでは、利用者提供ファイル、書き起こし内容およびその要約を、利用者の意思で他のアカウント保持者に共有することができます。この機能を利用した場合、共有先のメールアドレスまたはアカウントID、および共有する動画ファイルの情報は当社が管理する領域に保管されます。</li>
			<li>利用者は、利用者の意思において、本サービスの管理画面から動画および音声データをから削除することができる。その場合、利用者のGoogleドライブおよび当社が管理する領域から利用者提供データ、書き起こし内容およびその要約のデータは削除されます。</li>
		</ol>

		<h2>第13条（Cookieの利用）</h2>
		<ol>
			<li>本サービスは、利用者の利便性の向上およびサービスの品質維持・向上を目的として、Cookieを使用いたします。</li>
			<li>Cookieは、本サービスの運用に関連するサーバーから利用者のブラウザに送信する情報で、利用者のデバイスに記録されます。ただし、記録される情報には、利用者の氏名、住所、電話番号など個人を特定する情報は一切含みません。</li>
			<li>本サービスでは、利用者が興味をお持ちの内容や、当社が運営するサイトでの閲覧・検索履歴をもとに、第三者から配信される広告が掲載される場合があり、これに関連して、当該第三者が、当社が運営するサイトを訪問した利用者のサイト訪問に係るアクセス履歴情報を把握可能なCookie情報等を取得し、利用する可能性があります。また、広告効果測定のため、第三者が発行するCookieを使う可能性を排除いたしません。</li>
			<li>利用者は、自らが利用するコンピューターやタブレット、スマートフォンのブラウザの設定を変更することにより、Cookieを無効にし、また、保存されているCookieを削除することができます。なお、その方法については、ご利用のブラウザ提供元のサイトをご参照ください。</li>
			<li>Cookieを無効にした場合、当サービスは利用可能ですが、一部部の機をご利用いただけない可能性があり、そのことについて利用者に生じる不利益は当社は一切切関知せず責任を負いません。</li>
		</ol>

		<h2>第14条（Google Analyticsの利用）</h2>
		<ol>
			<li>当サービスでは、利用者の利用状況を把握するためにGoogle社の提供するサービスであるGoogle Analyticsを利用しています。</li>
			<li>Google Analyticsは、当社が発行するCookieを利用して本サービスの利用状況を分析し、当社はGoogle社からその分析結果を受け取ります。</li>
			<li>Google Analyticsにより収集、記録、分析された情報には、特定の個人を識別する情報は一切含まれていません。また、それらの情報は、Google社により同社のプライバシーポリシーに基づいて管理されています。</li>
			<li>利用者の本サービスの利用状況については、Google社も取得し、利用可能です。詳細については、以下のページをご確認ください。</li>

			<p><a href="https://marketingplatform.google.com/about/analytics/terms/jp/">Google Analytics利用規約</a></p>
			<p><a href="https://policies.google.com/technologies/partner-sites?hl=ja">Googleのサービスを使用するサイトやアプリから収集した情報のGoogleによる使用</a></p>

			<li>Google社のプライバシーポリシーについては、以下をご参照ください。</li>
			
			<p><a href="https://policies.google.com/privacy?hl=ja">Googleのプライバシーポリシー</a></p>
			
		</ol>

		<h2>第15条（知的財産権）</h2>
		<ol>
			<li>本サービスにより生成された文字起こしの内容または要約の内容（以下「生成物」といいます。）に含まれる著作権その他の知的財産権およびそれらに関連するその他の権利は、利用者に帰属するものとします。ただし、利用者が生成物を第三者に公開等する場合、当該生成物がAIによって生成されたものであることを明示しなくてはなりません。</li>
			<li>利用者は、本サービスの全部または一部を改変、改ざんし、または、逆コンパイル等のリバースエンジニアリングを行ってはならないものとします。</li>
		</ol>

		<h2>第16条（禁止事項）</h2>
		<ol>
			<li>利用者は、以下各号の行為をしてはなりません。</li>
			<div class="highlight">
				<ul>
					<li>(1)本サービスの規約に違反する行為</li>
					<li>(2)法令、条例、公序良俗に反する音声または動画ファイルの本サービスでの利用</li>
					<li>(3)犯罪的行為、不法行為、嫌がらせ、法律違反、他者の権利侵害等の公序良俗に反するあらゆる行為、またはその恐れのある行為</li>
					<li>(4)本サービスの運営を妨げる行為、またはそのおそれのある行為</li>
					<li>(5)当社または本サービスの信用を毀損する行為、またはそのおそれのある行為</li>
					<li>(6)会員の地位の第三者に対する譲渡</li>
					<li>(7)その他、当社が不適当と判断すること</li>
				</ul>
			</div>
			<li>利用者による不正使用を含む本規約の違反に関連し、第三者との間の法的請求や責任について、当社は、一切責任を負わず、本規約に違反した利用者は、自己の責任においてこれを処理し、当社および他の利用者に一切の迷惑や損害を与えないことを保証します。</li>
			<li>前項の法的請求が当社に対して行われ、当社が何らの損害を被った場合、利用者は、合理的な弁護士費用も含め、当社が要した費用一切につき、これを補償するものとします。</li>
			<li>利用者が本規約に違反した場合で当社が必要と判断したとき、当社は、該当する利用者の情報を、当該違反に関連する第三者に開示できるものとします。</li>
		</ol>

		<h2>第17条（解約）</h2>
		<ol>
			<li>利用者は、当社に対する本サービスにおける未履行の債務が存在しない場合に限り、当社所定の方法により解約手続をとることで本サービスの利用をいつでも終了することができます。</li>
			<li>当社は、利用者が以下のいずれかの事由に該当する場合、またはその恐れがあると当社が判断した場合、利用者へ事前の通告、催告をすることなく、かつ利用者の承諾を得ることなく、当社の裁量により、直ちに、当該利用者の解約手続き、その他当社が適切と判断する措置をとることができます。なお、当社は、利用者に対し、当該措置の理由を開示する義務を負いません。また、利用者が以下のいずれかの事由に該当した場合で当社が何らかの損害を被ったとき、利用者は、当社に対し、その損害全額（逸失利益および合理的な弁護士費用を含みます。）の賠償をするものとします。</li>
			<div class="highlight">
				<ul>
					<li>(1)振出しもしくは裏書した手形もしくは小切手が不渡りとなったとき、または手形交換所の銀行取引停止処分を受けたとき、その他支払不能、支払停止もしくはこれに準ずる信用悪化状態に陥り、またはそのおそれが認められるとき</li>
					<li>(2)差押、仮差押、仮処分の申立を受け、または強制競売、租税滞納処分その他公権力の処分を受けたとき</li>
					<li>(3)破産、民事再生もしくは会社更生手続き、その他これに準ずる手続きを自らなしまたはこれを受けたとき</li>
					<li>(4)廃業または解散したとき</li>
					<li>(5)合併、営業の全部または重要な一部の第三者への譲渡、その他これに準ずる行為により、事実上第三者に経営権が移転したとき</li>
					<li>(6)前条各号に定める事項に該当し、または該当する恐れがあると当社が合理的に判断した場合</li>
					<li>(7)その他、当社が利用者として不適切と判断した場合</li>
				</ul>
			</div>
		</ol>

		<h2>第18条（反社会的勢力排除条項）</h2>
		<ol>
			<li>当社および利用者は、現在および将来にわたって、自らまたはその役員（取締役、執行役、執行役員、監査役またはこれらに準ずる者をいう。）もしくは従業員において、暴力団、暴力団員、暴力団構成員、暴力団員でなくなった時から５年を経過しない者、暴力団準構成員、暴力団関係企業、社会運動等標ぼうゴロまたは特殊知能暴力集団、その他これらに準ずる者のいずれかにも該当しないこと、および次の各号のいずれにも該当しないことを確約し、保証します。</li>
			<div class="highlight">
				<ul>
					<li>(1)反社会的勢力等が経営を支配していると認められる関係を有すること</li>
					<li>(2)反社会的勢力等が経営に実質的に関与していると認められる関係を有すること</li>
					<li>(3)自己、自社もしくは第三者の不正の利益を図る目的または第三者に損害を加える目的をもってするなど、不当に反社会的勢力等を利用していると認められる関係を有すること</li>
					<li>(4)反社会的勢力等に対して暴力団員等であることを知りながら資金等を提供し、または便宜を供与するなどの関与をしていると認められる関係を有すること</li>
					<li>(5)役員または経営に実質的に関与している者が反社会的勢力等と社会的に非難されるべき関係を有すること</li>
				</ul>
			</div>
			<li>当社および利用者は、自らまたは第三者を利用して次の各号の一にでも該当する行為を行わないことを確約し、これを保証します。</li>
			<div class="highlight">
				<ul>
					<li>(1)暴力的な要求行為</li>
					<li>(2)法的な責任を超えた不当な要求行為</li>
					<li>(3)取引に関して、脅迫的な言動をし、または暴力を用いる行為</li>
					<li>(4)風説を流布し、偽計を用いまたは威力を用いて相手方の信用を毀損し、または相手方の業務を妨害する行為</li>
					<li>(5)その他前各号に準ずる行為</li>
				</ul>
			</div>
			<li>当社または利用者が本条に違反したとき、相手方は催告を要せずに利用契約の全部または一部を解除することができるものとします。</li>
			<li>当社および利用者は、本条に基づく解除により相手方に損害が生じた場合であっても、当該損害の賠償義務を負わないものとします。また、当該解除に起因して自己が被った損害の賠償を相手方に請求できるものとします。</li>
		</ol>

		<h2>第19条（契約終了後の取り扱い）</h2>
		<ol>
			<li>事由を問わず利用契約が終了した場合、利用者は、本サービスのすべての機能が使えなくなります。なお、本サービスのシステム上、利用者による解約手続が完了してからシステム上に反映されるまで、当社所定の時間が必要な場合があり、利用者はこれに同意するものとします。</li>
		</ol>

		<h2>第20条（損害賠償）</h2>
		<ol>
			<li>当社は、利用者が本規約を遵守の上で本サービスを利用したにも関わらず、当社の故意または重過失により利用者に損害が生じた場合に限り、利用者の契約する本サービスの年間利用料を上限に当該損害を賠償します。</li>
		</ol>

		<h2>第21条（免責）</h2>
		<ol>
			<li>本サービスは、本サービス用設備等の定期的な保守、メンテナンスのため利用できない場合があります。</li>
			<li>当社は以下各号の事由に起因する場合、利用者に対して事前に告知することなく、本サービスの全部または一部を停止することができ、当該事由に起因して利用者および第三者に損害が発生した場合、一切の責任を負わないものとします。</li>
			<div class="highlight">
				<ul>
					<li>(1)本サービス用設備等の保守、メンテナンスを緊急に行う場合</li>
					<li>(2)天災地変（火災、地震、風水害、落雷、公害、塩害等を含むがこれらに限られない）、疫病、戦争、暴動、内乱、テロ行為、ストライキ、その他当社の責めに帰することのできない事由により本サービスの提供が不能となった場合</li>
					<li>(3)本サービスのシステム不良等により本サービスの提供の中断、中止が必要と当社が判断した場合</li>
				</ul>
			</div>
		</ol>

		<h2>第22条（秘密保持）</h2>
		<ol>
			<li>利用者は、本サービス上に掲載された情報のうち利用者のみが閲覧可能である情報について、以下各号に該当する場合を除いて、第三者に漏洩してはなりません。</li>
			<div class="highlight">
				<ul>
					<li>(1)利用者が知った時点で既に公知の情報</li>
					<li>(2)利用者が知った時点で既に保有していた情報</li>
					<li>(3)本規約に基づく秘密保持義務を負うことなく、独自に取得した情報</li>
					<li>(4)自己の責によらず公知または公用となった情報</li>
				</ul>
			</div>
		</ol>

		<h2>第23条（準拠法）</h2>
		<p>本サービスその他の本規約に関する準拠法は日本法とします。</p>

		<h2>第24条（管轄裁判所）</h2>
		<p>利用者と当社との間で訴訟が生じた場合、その訴額に応じて東京地方裁判所または東京簡易裁判所を第一審の専属的合意管轄裁判所とします。</p>
	</div>
</div>

{%- endblock %}